<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="sedeplacer">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Se déplacer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="feed">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Suivi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" disabled>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Mes déplacements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" disabled>
      <ion-icon name="locate"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>