<ion-item>
  <ion-textarea placeholder="Enter more information here..." [(ngModel)]="postData.feed"></ion-textarea>
</ion-item>
<ion-item>
  <ion-button color='covidcolor' item-end (click)="feedUpdateAction()">Update</ion-button>
</ion-item>