<ion-header>
  <ion-toolbar color="covidcolor">
    <ion-title><ion-icon name="walk"></ion-icon> Se déplacer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center">
    <img src="assets/images/distance.sociale.covid19.png" class="smallLogo" />
    <h1>Planifier une sortie</h1>
  </div>
  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-list>

        <ion-radio-group [value]="selectedFiltre" allow-empty-selection="false" (ionChange)="radioGroupChange($event)">
          <ion-row float-left>
            <ion-item>
              <ion-label>
                <ion-icon name="map" size="large"></ion-icon> Lieu dit
              </ion-label>
              <ion-radio slot="start" value="establishment"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="pin" size="large"></ion-icon> Adresse
              </ion-label>
              <ion-radio slot="start" value="address"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
        <div class="form-group col-lg-1" *ngIf="selectedFiltre === 'establishment'">
          <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" adressType="establishment">
          </AutocompleteComponent>
        </div>
        <div class="form-group col-lg-1" *ngIf="selectedFiltre === 'address'">
          <AutocompleteComponent (setAddress)="getAddress($event)" adressType="address"></AutocompleteComponent>
        </div>

        <ion-row>
          <ion-row float-left>
            <ion-item>
              <ion-label>
                <ion-icon item-left name="calendar" size="large"></ion-icon>
                Date de sortie
              </ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="planification.dateSortie" id="dateSortie"
                display-timezone="utc" [min]="today" placeholder="dd/mm/yyyy" doneText="Ok" cancelText="Annuler"></ion-datetime>
            </ion-item>
          </ion-row>
          <ion-row float-left>
            <ion-item>
              <ion-label>
                <ion-icon name="time"></ion-icon> Heure de sortie
              </ion-label>
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="planification.heureSortie" id="heureSortie"
                placeholder="HH:mm" display-timezone="utc" doneText="Ok" cancelText="Annuler"
                (ionChange)="heureOnchange($event)"></ion-datetime>
            </ion-item>
          </ion-row>

          <ion-row float-left>
            <ion-item>
              <ion-label>
                <ion-icon name="timer"></ion-icon> Heure prévue pour rentrer
              </ion-label>
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="planification.heureRetour" placeholder="HH:mm"
                id="heureRetour" display-timezone="utc" doneText="Ok" cancelText="Annuler"
                [min]="planification.heureSortie"
                (ionChange)="heureOnchange($event)"></ion-datetime>
              <ion-text color="danger">{{jplus1}}</ion-text>
            </ion-item>
          </ion-row>
        </ion-row>

      </ion-list>
      <ion-item lines='none'>
        <a href="https://media.interieur.gouv.fr/deplacement-covid-19/">Attestation de déplacement dérogatoire</a>
      </ion-item>
      <ion-button expand="block" share="round" color="success" (click)="valide()">Valider</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>