<ion-header>
  <ion-toolbar color="covidcolor">
    <ion-title><ion-icon name="add"></ion-icon>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div class="center">
    <img src="assets/images/distance.sociale.covid19.png" class="smallLogo" />
    <h1>Créer un compte</h1>
  </div>
  <form>
    <ion-list>
      <!--
     <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input autocomplete="off" name="name" type="text" [(ngModel)]="postData.nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prenom</ion-label>
        <ion-input autocomplete="off" name="prenom" type="text" [(ngModel)]="postData.prenom"></ion-input>
      </ion-item>
      -->
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.mot_passe"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        Vous possèdez déja un compte ? <a routerLink='/login'> Se connecter <ion-icon name="log-in"></ion-icon></a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="signupAction()">Inscription</ion-button>
  </form>
</ion-content>