<ion-header>
  <ion-toolbar color="covidcolor">
    <ion-title><ion-icon name="paper"></ion-icon> Actulalités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-list>
        <ion-radio-group [value]="selectedFiltre" allow-empty-selection="false" (ionChange)="radioGroupChange($event)">
          <ion-row float-left>
            <ion-list-header>
              <ion-label>Recherche par</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>
                <ion-icon name="map" size="large"></ion-icon> Lieu dit
              </ion-label>
              <ion-radio slot="start" value="establishment"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="pin" size="large"></ion-icon> Adresse
              </ion-label>
              <ion-radio slot="start" value="address"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
      </ion-list>
      <div class="form-group col-lg-1" *ngIf="selectedFiltre === 'establishment'">
        <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" adressType="establishment">
        </AutocompleteComponent>
      </div>
      <div class="form-group col-lg-1" *ngIf="selectedFiltre === 'address'">
        <AutocompleteComponent (setAddress)="getAddress($event)" adressType="address"></AutocompleteComponent>
      </div>
      <ion-item>
        <ion-icon item-left name="calendar" size="large"></ion-icon>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dateFiltre" id="dateSortie" display-timezone="utc"
          placeholder="DD/MM/YYYY" doneText="Ok"  cancelText="Annuler"></ion-datetime>
      </ion-item>
    </ion-card-content>

    <ion-row float-right>
      <ion-button color="primary" (click)="fetchData()">
        filtrer
      </ion-button>
    </ion-row>

  </ion-card>



  <div *ngIf='dateFiltreheader || adresseFiltreheader'>
    <ion-list-header color="light">
      <div *ngIf='dateFiltreheader'>Résultat du {{dateFiltreheader | date :'dd/MM/yyyy'}}</div>
      | <div *ngIf='adresseFiltreheader'>{{adresseFiltreheader}}</div>
    </ion-list-header>
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Nombre des individus en déplacement dérogatoire par heure</ion-card-subtitle>
      <ion-card-title>Confinement en France</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <br><br>

</ion-content>

  <!-- <app-feed-update [loginUser]="authUser"></app-feed-update>
  <app-feed-card [loginUser]="authUser"></app-feed-card> -->