<ion-header>
  <ion-toolbar color="covidcolor">
    <ion-title><ion-icon name="log-in"></ion-icon> Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <img src="assets/images/distance.sociale.covid19.png" class="smallLogo"/>
      <h1>Se connecter</h1>
    </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input autocomplete="off" type="text" name="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.mot_passe"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="loginAction()">Login</ion-button>
  
    <br><br>
    <ion-button expand="block" share="round" (click)="facebookLogin()">        
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Connexion avec Facebook
    </ion-button>
    <ion-item lines='none'>
      <a routerLink='/signup'>S'inscrir</a>
    </ion-item>
  </form>
</ion-content>