<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/distance.sociale.covid19.png" />
    <h2>Bienvenue sur MoveInSafe App.</h2>
    <p>Application pour choisir le bon moment pour se déplacer</p>
    <p><strong>VIVRE avec le VIRUS</strong></p>
  </ion-slide>
  <ion-slide>
    <h2>Projet Social</h2>
    <p>Développé dans le cadre du la lutte contre le COVID-19</p>
  </ion-slide>
  <ion-slide>
    <h2>lyazid.salihi@sfr.fr</h2>
  </ion-slide>
</ion-slides>
