<ion-header>
  <ion-toolbar color="covidcolor">
    <ion-title><ion-icon name="cog"></ion-icon> Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <ion-icon name="person"></ion-icon><strong> {{ authUser?.username }}</strong>
    </ion-label>
  </ion-item>

  <ion-button color='covidcolor' (click)="logoutAction()">Log Out.</ion-button>
</ion-content>